.body-class {

 
  background-color:#f0f0f1;

}


p{

  font-size:15px;

}


a {
  color: #00B7FF;
}

.active{


color:#fdb638!important;
}


.sign-up-process-section .col-sm-4{

text-align:center;
background-color:#fdb638!important;
border-left:white thick solid;
height:100px;
color:white;
}

.sign-up-process-section .col-sm-12 h3{


color:#fdb638!important;
}

.sign-up-process-section-travellight{


font-size:200%;
font-weight:100;

}
.sign-up-incentives-section .col-sm-4{

text-align:center;
background-color:#fdb638!important;
border-left:white thick solid;
height:100px;
color:white;

}

.how-it-works-section .col-sm-12{


background-color: #f0f0f1;

}

.how-it-works-section .col-sm-12 li{


color: #59beea;

}

.how-it-works-section .col-sm-6 h4{

color: #59beea;

}

.how-it-works-section {

background-color: #f0f0f1;

}



.device-compatiability-icon-section .col-sm-4{



border:#f0f0f1 thin solid;
padding:20px;
text-align:center;


}


.main-section {


  border: #e7e7e7 thin solid;
  margin: 0 auto;
  padding-top:0px!important;
  width:80%;
  background-color:white;

}

section{

  padding:5px 20px 20px 20px;

}

.social-icon {

 font-size: 52px!important;

}

.icons-container{

  text-align:center;
}

.paralax_tagline
{

 background-image:url("../images/enhanced-templates.png");

height:250px;




color:white;

 text-align: center;
    letter-spacing: 1px;
  
    padding: 2em 10%;

 background-repeat: no-repeat;

background-size:cover;

}



section {


  margin-top:20px;
}



header{ position:fixed; width: 100%; padding-left:40px; height: auto; background: #FFFFFF; color: #fff; font-family: 'PT Sans', sans-serif; 
  transition: all 0.4s ease;font-size:13px;font-weight:200;
  z-index:99; }

header:hover{opacity:1.0; filter: alpha(opacity=1); }

/*background: #EE632C;  header.sticky { height: 100px; background: #efc47D; padding-left: 20px; z-index:99; opacity: 0.6; filter: alpha(opacity=60); }

  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
*/

.sticky_logo {  height: 25px; }

header.sticky { 

   z-index:99; 
	 transition: all 0.4s ease;

  font-size: 11px;


  background: white;
  text-align: left;
  padding-left: 20px;
}

}

ul.how-it-works {list-style-type:decimal;}


.topnav{ list-style-type: none; color:white; margin: 0; padding: 0; overflow: hidden; text-align:right; line-height: 100% !important;}


ul.topnav li.icon {display: none;}

ul.topnav li:first-child{  text-align: right !important; }

ul.topnav li { display: inline-block;  vertical-align:middle; }

.topnav li a { display: inline-block; color:#666666;  font-weight:50; text-align: center; padding: 14px 16px; text-decoration: none;cursor:pointer; }


.topnav li:first-child a:hover {

    background-color: none !important;

}

.topnav a:hover {

    color:black;

}

li{

  line-height:40px;
}

.mySlides{

  height:400px;
}
footer{


	padding:30px;
	color:#e8e5e5;
	background-color:#333333;
	border-top:red solid thick;
	border-bottom:black solid thin;
	width:100%;
}

footer .text {

	color:white;

}



.footer_title {

padding-bottom:20px;
border-bottom:black solid thin;

}


#send_button {

background-color:black;
color:white;
border-radius: 0;
border-color:black;

}


footer input[type=text],footer input[type=email] {


background-color:black;
border-color:black;
color:#e8e5e5;
border-radius: 0;


}



#message {  

background-color:black;
border-color:black;
color:#e8e5e5;
border-radius: 0;

}




input:focus {

    border: blue medium solid;

}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.businessservices{

  display:none;

}
.mySlides-free-templates{


  display:none;


}
/* Slideshow container */
.slideshow-container {
  max-width:100%
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#fdb638!important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
