<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<button class="btn btn-secondary" type="button" >

<body class="body-class" ng-app="unifieddigitalmedia" ng-controller="form_controller">



<!-- Navigation -->
<header>

  <ul class="topnav" id="myTopnav">
  <li class="logo_link"> <a><img src="/images/logo.png" class="logo" ></a> </li>  
  <li><a href="index.html">Overview</a></li>
  <li><a href="features.html">What's Included</a></li>
  <li><a href="designs.html">Designs</a></li>
  <li><a href="pricing.html">Pricing</a></li>
  <li><a class="active" href="contacts.html">Get Started</a></li>
  <li><a href="travellight.html">Travel Light : Our featured product</a></li>
  <li><a href="marketing-for-firms.html">Website Content and Martketing Solutions</a></li>


  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

</header>

 <img class="mySlides" src="/images/blue_yellow_red_smoke_bg.jpg"
  style="width:100%">
  
<section class="main-section container-fluid" >


<section class="specialist-area-section">
<div class="row">
  
  <div class="col-sm-6">

<h4> GET STARTED TODAY ON YOUR FIRM WEBSITE </h4> 

3 Simple Steps to get your website up and running
<ul>
<li>Complete the contact form below</li>

<li>We'll contact you to create your free trial website and answer any questions you may have</li>

<li>Your website is launched</li>
</ul>


  </div>

  <div class="col-sm-6 icons-container"><p> Share This</p><a href="#"><i class="fa fa-facebook-official social-icon"></i></a>
  <a href="#"><i class="fa fa-twitter social-icon"></i></a>
  <a href="#"><i class="fa fa-linkedin social-icon"></i></a></div>
 
</div>

  

</section>


<section class="how-it-works-section">


<div class="row">
  
  <div class="col-sm-6">

    <form class="form-horizontal" role="form" name="contactForm" novalidate ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">

      <label> Your name (required) </label> 
      <input type="text" class="form-control" id="name" required ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 

        <label> Your email (required) </label> 

      <input type="email" class="form-control" id="email"  required name="email" ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Firm Name </label> 

      <input type="text" class="form-control form_field" id="firm"  ng-model="firm">
    </div>
  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Website </label> 

      <input type="text" class="form-control form_field" id="website"  ng-model="website">
    </div>
  </div>
  
<div class="form-group">
   
    <div class="col-sm-12"> 

      <label> Service Required </label> 

     <div class="checkbox">
  <label><input type="checkbox" value="Website" class="services"> Website Design & Development </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Mobile" class="services"> Mobile App Design & Development </label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="Marketing" class="services"> Website Content & Marketing Solutions</label>
</div>


    </div>
  </div>

  <div class="form-group"> 
     <div class="col-sm-8"> </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="businessContact()" 

      
      > Submit</button>
    

    </div>

  </div>

</form>

</div>

<div class="col-sm-6"></div>
 
</div>



</section>










</section>



<!-- Footer -->
<footer >

  <div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" >  

<h6 class="footer_title"> CONTACT US {{asd}}</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>

<script src="/javascripts/main.js" ></script>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>

var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://localhost:3000/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service) {

$scope.asd = "adas";


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


alert('Message has been sent');

  
  });


}


$scope.businessContact = function(){

$scope.services =[];

var services = document.getElementsByClassName("services");

for (counter = 0; counter < services.length; ++counter) {

if(services[counter].checked){

$scope.services.push(services[counter].value);

} 


}



var resource = $resource('http://localhost:3000/api/businesscontact/',{

          id:"@id",
          name:"@name",
          email:"@email",
          firm:"@firm",
          website:"@website",
          "services[]":"@services",
        

},{ 'update': { method:'PUT' } } );

var reserve = resource.save(

{
        
          name:$scope.name,
          email:$scope.email,
          website:$scope.website,
          "places[]":$scope.services,
         
         


}, function() {


if(reserve.ERROR){ alert(reserve.ERROR); } else {   



                      alert('Thank you for your inquiry. Message has been sent. We will contact you shortly.');


}
  


  });



}



});

</script>

</body>
</html>