<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<button class="btn btn-secondary" type="button" >

<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>

<body class="body-class" >



<!-- Navigation -->
<header>

  <ul class="topnav" id="myTopnav">
  <li class="logo_link"> <a><img src="/images/logo.png" class="logo" ></a> </li>  
  <li><a href="index.html">Overview</a></li>
  <li><a href="features.html">What's Included</a></li>
  <li><a class="active" href="designs.html">Designs</a></li>
  <li><a href="pricing.html">Pricing</a></li>
  <li><a href="contacts.html">Get Started</a></li>
  <li><a href="travellight.html">Travel Light : Our featured product</a></li>
  <li><a href="marketing-for-firms.html">Website Content and Martketing Solutions</a></li>


  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

</header>

  <img class="mySlides" src="/images/blue_yellow_red_smoke_bg.jpg"
  style="width:100%">

<section class="main-section container-fluid" >


<section class="specialist-area-section">
<div class="row">
  
  <div class="col-sm-6">

    <h4> PROFESSIONAL WEBSITE TEMPLATES </h4> 

  Choose from our selection of free templates or  Enhanced Template design by our affilates below or work with our team to create a custom website design .

</div>

  <div class="col-sm-6 icons-container"><p> Share This</p><a href="#"><i class="fa fa-facebook-official social-icon"></i></a>
  <a href="#"><i class="fa fa-twitter social-icon"></i></a>
  <a href="#"><i class="fa fa-linkedin social-icon"></i></a></div>
 
</div>

  

</section>


<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


    <h4> Free Templates</h4>

<section>  


<div class="slideshow-container">

<div class="mySlides-Design ">
  <div class="numbertext">1 / 3</div>
 <div class="row">
  
  <div class="col-sm-3"> <a href="/free-templates/Blog-Template.html" >  <img src="/images/template-images/blog-screenshot.png" style="width:100%">  </a> </div>

  <div class="col-sm-3">   <a href="/free-templates/House-Design-Template.html" ><img src="/images/template-images/housescrrenshot.png" style="width:100%"> </a></div>

  <div class="col-sm-3">   <a href="/free-templates/Marketing-Template.html" ><img src="/images/template-images/marketing-consultant-screenshot.png" style="width:100%"> </a></div>

  <div class="col-sm-3">   <a href="/free-templates/Parallax-Template.html" ><img src="/images/template-images/paralax-screenshot.png" style="width:100%"> </a></div>

</div>
  <div class="text">Caption Text</div>
</div>

<div class="mySlides-Design ">
  <div class="numbertext">2 / 3</div>
  

<div class="row">

  <div class="col-sm-3">  <a href="/free-templates/Marketing-Website.html" > <img src="/images/template-images/marketing-website-screenshot.png" style="width:100%"> </a></div>

  <div class="col-sm-3">  <a href="/free-templates/Photo-Template.html" > <img src="/images/template-images/photo-screenshot.png" style="width:100%"> </a></div>

  <div class="col-sm-3">  <a href="/free-templates/Portfolio-Template.html" > <img src="/images/template-images/portfolio-screenshot.png" style="width:100%"></a> </div>

  <div class="col-sm-3">  <a href="/free-templates/Social-Media-Template.html" > <img src="/images/template-images/social-screenshot.png" style="width:100%"> </a></div>


</div>


  <div class="text">Caption Two</div>
</div>

<div class="mySlides-Design ">
  <div class="numbertext">3 / 3</div>
<div class="row">
  
  <div class="col-sm-3">  <a href="/free-templates/Travel-Agency-Template.html" > <img src="/images/template-images/travel-screenshot.png" style="width:100%"> </a> </div>

  <div class="col-sm-3">  </div>

  <div class="col-sm-3">  </div>

  <div class="col-sm-3">  </div>

</div>
   
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>



</section>

  </div>


 
</div>



<div class="row">
  
  <div class="col-sm-12">

<h4> Enhanced Templates</h4>

<section class="paralax_tagline container-fluid">



</section>




  </div>


 
</div>



</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


<h4> Chosen Your New  Website Design? </h4> 

Get a preview of how our website templates could work for your firm.



  </div>


 
</div>



</section>





</section>



<!-- Footer -->
<footer >

  <div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" ng-app="unifieddigitalmedia" ng-controller="form_controller">  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>

<script src="/javascripts/main.js" ></script>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides-Design");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
<script>

var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://localhost:3000/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service) {

$scope.asd = "adas";


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


alert('Message has been sent');

  
  });


}

});


</script>

</body>
</html>