<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<body class="body-class">



<header>

  <ul class="topnav" id="myTopnav">
  <li class="logo_link"> <a><img src="/images/logo.png" class="logo" ></a> </li>  
  <li><a href="index.html">Overview</a></li>
  <li><a href="features.html">What's Included</a></li>
  <li><a href="designs.html">Designs</a></li>
  <li><a href="pricing.html">Pricing</a></li>
  <li><a href="contacts.html">Get Started</a></li>
  <li><a href="travellight.html">Travel Light : Our featured product</a></li>
  <li><a class="active" href="marketing-for-firms.html">Website Content and Martketing Solutions</a></li>


  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

</header>

 <img class="mySlides" src="/images/blue_yellow_red_smoke_bg.jpg"
  style="width:100%">

<section class="main-section container-fluid" >


<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


<h2>Connect, inform and thrive with content solutions</h2>
Content marketing solutions from for Firms help you bolster your thought leadership, develop long-term business relationships and maximize your business opportunities — all while helping to increase your firm’s bottom line. Written by professionals and vetted by experts, our marketing content solutions present your firm as the leading go-to resource and differentiate you from the competition.


  </div>


 
</div>

</section>



<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


<h3>New! Social Media Solutions: content, news, strategy and metrics for social media</h3>

<p>The newest offering is the only offering of its kind — a social media marketing resource designed specifically for firms. Whether you are just starting out in social media marketing or are a social media guru, we have the resources you need to take your social media content marketing to the next level. Our offerings include Social Media Briefs — fresh content formatted for social media, publishable news updates to keep your followers informed. Subscribe to all our solutions or mix and match to build a package that perfectly fits your firm’s needs.</p>

  </div>


 
</div>

</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">

<h3> Content solutions by niche and industry practice areas enhance your ROI </h3>

<p>Increase prospect and client engagement by distributing actionable articles that inform them on topical and timely issues. Reinforce your firm’s areas of expertise and stay top-of-mind. Maximize your billable time by implementing one or more of our customizable content solutions, designed to help you send the right content to the right recipients at the right time.</p>

<p>These cost-effective, mix-and-match content marketing services enable you to stretch your marketing budget for the highest return on marketing investment with the least amount of effort and time commitment. We offer content solutions in dozens of industry niches.</p>


  </div>


 
</div>
<!--<div class="row">
  
  <div class="col-sm-12">  Additional niche practice area content solutions:  

<ul>

<li> Travel and Tourism  </li>

<li> Hospitality </li>

<li> Food and Beverage </li>

<li> Entertainmnet  </li>






</ul>



  </div>

</div> -->



</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">

<h3>Content marketing solutions: newsletters, articles  </h3>

<p>Sharing engaging, relevant and valuable information is the most effective way to stay connected to your contacts, nurture your business relationships and generate leads for more business. Our diverse content solutions are available in a wide variety of formats — print, HTML, PDF, email — which allows you to match your message and delivery vehicle to the exact needs and preferences of each of your recipients.</p>


  </div>


 
</div>

</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">

<h3>Reap the rewards of accounting marketing with content solutions</h3>

<p>Not only do our content marketing solutions help you maximize your communication strategies for heightened credibility, improved visibility, extended reach and enhanced relationship-building, but we also save you time, money and effort in the process. Turn your firm’s potential into profit by demonstrating thought leadership through content.</p>



  </div>


 
</div>

</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">




  </div>


 
</div>

</section>




</section>



<!-- Footer -->
<footer >

  <div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" ng-app="unifieddigitalmedia" ng-controller="form_controller">  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>

<script src="/javascripts/main.js" ></script>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>

var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://localhost:3000/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service) {

$scope.asd = "adas";


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


alert('Message has been sent');

  
  });


}

});


</script>


</body>
</html>