<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<button class="btn btn-secondary" type="button" >

 <style>
      
      #map {
        height: 150px;
      }


      #main{
    position: relative;
  background-color:blue;height:500px;

}
#abc{
  font:Verdana, Geneva, sans-serif;
  font-size:18px;
  text-align:left;

  height:700px;
    display: table;
 
}

#abc span {
    vertical-align:middle;
    display: table-cell;
}


    </style>

<body class="body-class" ng-app="unifieddigitalmedia" ng-controller="form_controller">



<header>

  <ul class="topnav" id="myTopnav">
  <li class="logo_link"> <a><img src="/images/logo.png" class="logo" ></a> </li>  
  <li><a href="index.html">Overview</a></li>
  <li><a href="features.html">What's Included</a></li>
  <li><a href="designs.html">Designs</a></li>
  <li><a href="pricing.html">Pricing</a></li>
  <li><a href="contacts.html">Get Started</a></li>
  <li><a class="active" href="travellight.html">Travel Light : Our featured product</a></li>
  <li><a href="marketing-for-firms.html">Website Content and Martketing Solutions</a></li>


  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>

</header>

 <img class="mySlides" src="/images/blue_yellow_red_smoke_bg.jpg"
  style="width:100%">

<section class="main-section container-fluid" >


<section class="sign-up-process-section-travellight">


<div class="row">
  
  <div class="col-sm-12">


<h2></h2>

Cost-effective Online Marketing and Distribution Services Customized to Fit Your Needs. Pique your audiences interest from the start.
We partner with you to deliver cost-effective online nmarketing and distribution services customized to fit your needs, along with tools and services to help you build and monetize your digital audience:

More than 2.2 million news stories and 580,000 photos and images per year, delivered in 16 languages

Located across more than 200 locations, we have a global network of bureaus staffed with journalists, editors, video crews and photographers

Real-time breaking news and high-impact multimedia coverage includes: breaking news, sports, entertainment, health, business and finance, politics, human interest, and much more


  </div>

<p style="float:right;"> <a href="#signup" > Contact Us </a> </p>
 
</div>

</section>



<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


<div class="row">
  
  <div class="col-sm-8">

<h3>Editors and Book Authors</h3>

<p>Build and monetize digital audiences with Travel Light's online publishing services</p>

<p style="float:right;"> <a href="#signup" > Contact Us </a> </p>
  </div>

  <div class="col-sm-4">


  </div>

</div>


  </div>


 
</div>

</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">


<div class="row">
  
  <div class="col-sm-8">


<h3> Travel Light's online publishing services</h3>

<p>It’s about delivering relevant personialsed experiences. Our online publishing services provide a range of content, tools and expertise to journalists, editors, book authors, video crews and photographers helping build and monetize digital audiences             
</p>

<p>Available in multiple languages, we provide dynamically updated news packages and solutions. Articles come ready-to-publish, complete with pictures and video when possible.

Real-time breaking news and high-impact multimedia coverage includes: breaking news, sports, entertainment, health, business and finance, politics, human interest, and much more</p>




<ul>

<li> Video </li>

Our video crews around the world capture and deliver the stories that matter most to audiences.

We provide:

<ul>

<li>Channels of live streaming video</li>
<li>An archive of raw, unedited video </li>
<li>User-generated content</li>

</ul>


</ul>

<ul>

<li>Pictures</li>

Socail network distributes new pictures on each destination visit covering news, sports, features, business, entertainment and lifestyle. 

<ul>

<li> Galleries</li>

<li>Slideshows</li>

<li> An archive of pictures that travellers visit each year </li>

</ul>

</ul>

<p style="float:right;"> <a href="#signup" > Contact Us </a> </p>
  </div>

  <div class="col-sm-4">


  </div>

</div>




  </div>


 
</div>



</section>

<section class="sign-up-process-section">


<div class="row">
  
  <div class="col-sm-12">





<div class="row">
  
  <div class="col-sm-8">

<h3>UGC </h3>

<p> More than half (54%) of businesses use recomemdations. Enhance your coverage with verified and fully licensed user-generated content. </p>
</br>
<h4>Captivating, Viral, User-generated Video </h4> </br>
<p> Get enhanced coverage of social video content that's verified and licensed with unrivalled speed and accuracy.

<p>
All content is curated, verified and licensed for immediate use. Entertain and grow your audience with the best user generated content
</p>


<p style="float:right;"> <a href="#signup" > Contact Us </a> </p>
  </div>

 <div class="col-sm-4" id="signup" >


  </div>

</div>



  </div>


 
</div>

</section >


<section class="how-it-works-section" >

<h1> Contact Us </h1>

<div class="row">
  
  <div class="col-sm-6" id="abc">




     <span>


3 Simple Steps to a Firm Website

<ul>

<li>Complete the contact form </li>

<li>We'll contact you to create your free trial website and answer any questions you may have</li>

<li>Your website and mobile app is launched</li>


</ul>




</span>

  



  </div>

  <div class="col-sm-6">

    <form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">

      <label> Contact name (required) </label> 
      <input type="text" class="form-control" id="name" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 

        <label> Your email (required) </label> 

      <input type="email" class="form-control" id="email"  required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Firm name </label> 

      <input type="text" class="form-control form_field" id="firm"  data-ng-model="firm">
    </div>
  </div>


  <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Short description of your business  </label> 
     <textarea class="form-control" rows="5" id="description"  data-ng-model="description"></textarea>
    </div>
  </div>



  <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Phone </label> 

      <input type="text" class="form-control form_field" id="phone"  data-ng-model="phone">
    </div>
  </div>



    <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Website </label> 

      <input type="text" class="form-control form_field" id="website"  data-ng-model="website">
    </div>
  </div>

   <div class="form-group">
   
    <div class="col-sm-12"> 

       <label> Address </label> 

      <input type="text" class="form-control form_field" id="address"  data-ng-model="address">

       <input type="hidden" class="form-control form_field" id="latlng"  data-ng-model="latlng">


    </div>
  </div>


   <div class="form-group">
   
    <div class="col-sm-12"> 

      
 <div id="map"></div>


    </div>
  </div>



  
<div class="form-group">
   
    <div class="col-sm-12 "> 

      <label> Type Of Business  </label> 

     <div class="checkbox">

  <label><input type="checkbox" value="Accomodation" onclick="showServices(this,0)" class="typeofbusinessdiv"> Accomodation </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Beaches" onclick="showServices(this,1)" class="typeofbusinessdiv"> Beaches </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Food and Drink " onclick="showServices(this,2)" class="typeofbusinessdiv"> Food and Drink </label>
</div>
<div class="checkbox ">
  <label><input type="checkbox" value="Lesiure and Nightlife" onclick="showServices(this,3)" class="typeofbusinessdiv">Lesiure and Nightlife </label>
</div>
<div class="checkbox ">
  <label><input type="checkbox" value="Festivals and Events" onclick="showServices(this,4)" class="typeofbusinessdiv">Festivals and Events</label>
</div>

<div class="checkbox ">
  <label><input type="checkbox" value="Shopping" onclick="showServices(this,5)" class="typeofbusinessdiv"> Shopping </label>
</div>


    </div>
  </div>

<div class="form-group">
   
    <div class="col-sm-12"> 

      <label> Type Of Services  </label> 

<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Hotel - All Inclusive" name="Accomodation" > Hotel - All Inclusive </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Hotel - Non Inclusive " name="Accomodation" >  Hotel - Non Inclusive  </label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="Villa" name="Accomodation" > Villa </label>
</div>

<div class="checkbox disabled">
  <label><input type="checkbox" value="Bed And Breakfast" name="Accomodation"> Bed And Breakfast </label>
</div>

<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Accomodation" />  </label>
</div>

</div>
    

<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Private Beach" name="Beaches"> Private Beach </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Public Beach" name="Beaches"> Public Beach </label>
</div>
<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Beaches" />  </label>
</div>

</div>


<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Restaurant" name="Food and Drink"> Restaurant </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Street Food" name="Food and Drink"> Street Food </label>
</div>
<div class="checkbox ">
  <label><input type="checkbox" value="Fast Food" name="Food and Drink"> Fast Food </label>
</div>

<div class="checkbox ">
  <label><input type="checkbox" value="Vegitarian" name="Food and Drink"> Vegitarian </label>
</div>

<div class="checkbox ">
  <label><input type="checkbox" value="Cocktail Bar" name="Food and Drink"> Cocktail Bar  </label>
</div>
<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Food and Drink" />  </label>
</div>

</div>



<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Adevnture" name="Lesiure and Nightlife"> Adventure   </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Exploration" name="Lesiure and Nightlife"> Exploration </label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="Experiential" name="Lesiure and Nightlife"> Experiential  </label>
</div>

<div class="checkbox disabled">
  <label><input type="checkbox" value="History and Culture" name="Lesiure and Nightlife"> History and Culture  </label>
</div>

<div class="checkbox disabled">
  <label><input type="checkbox" value="Night Club" name="Lesiure and Nightlife"> Night Club   </label>
</div>

<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Lesiure and Nightlife" />  </label>
</div>

</div>


<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Carnival" name="Festivals and Events"> Carnival  </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Paradae" name="Festivals and Events"> Paradae </label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="Music Festival" name="Festivals and Events"> Music Festival </label>
</div>

<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Festivals and Events" />  </label>
</div>

</div>


<div class="businessservices">

 <div class="checkbox">
  <label><input type="checkbox" value="Clothing" name="Shopping"> Clothing  </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="Food" name="Shopping">Food  </label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="Souveniors" name="Shopping" >Souveniors </label>
</div>

<div class="checkbox " >
  <label><input type="text"  placeholder="other" name="Shopping" />  </label>
</div>

</div>

    </div>
  </div>
<p id="jsonobject"> </p>
  <div class="form-group"> 
     <div class="col-sm-8"> </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default" ng-click="addPlace()" > Submit</button>
    

    </div>

  </div>

</form>

</div>


 
</div>



</section>

</section>



<!-- Footer -->
<footer >

  <div class="row">

  <div class="col-sm-6">  

    <h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" >  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>



<script>
      var map;
      function initMap() {



        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRymGUo1SnzUFFYcAjrXO-vJpJ-fwT5NE&callback=initMap"
    async defer></script>


<script src="/javascripts/main.js" ></script>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>


document.getElementById('address').addEventListener('change', function() {
    
var geocoder;

geocoder = new google.maps.Geocoder();



geocoder.geocode( { 'address': this.value}, function(results, status) {



if (status == google.maps.GeocoderStatus.OK) {


document.getElementById("latlng").value = results[0].geometry.location ;


var map = new google.maps.Map(document.getElementById("map"), {

center:results[0].geometry.location,

 zoomControl: true,
          zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
    

          },
zoom:14,

mapTypeId:google.maps.MapTypeId.ROADMAP

  });

var marker = new google.maps.Marker({

      position: results[0].geometry.location,

      draggable: true,

      map: map,

      title:this.value,

      animation: google.maps.Animation.DROP

    });

}



 });

}, false);

</script>


<script>

var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://localhost:3000/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service,$resource) {

$scope.asd = "adas";


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


alert('Message has been sent');

  
  });


}


$scope.addPlace = function(){

var inputs,businessservice;

businessservice = document.getElementsByClassName("typeofbusinessdiv");

var slides = document.getElementsByClassName("businessservices");

var services;

$scope.activities = [];

for (index = 0; index < businessservice.length; ++index) {

if(businessservice[index].checked) {

var services = slides[index].getElementsByTagName('input');

for (counter = 0; counter < services.length; ++counter) {

if(services[counter].checked) {


 var jsonObject = {};

 jsonObject['typeofbusiness'] = businessservice[index].value;

 jsonObject['typeofservice'] = services[counter].value;


 $scope.activities.push(jsonObject);


}


}


}


}


var latlng = document.getElementById('latlng').value.replace("(","");

latlng = latlng.replace(")","");

latlng = latlng.split(",");

$scope.latitude = latlng[0] ; 

$scope.longitude = latlng[1] ; 

var resource = $resource('http://localhost:3000/api/placesofinterest/:activities',{


  businessname:"@businessname",
  businessaddress:"@businessaddress",
  businessphone:"@businessphone",
  businesswebsite:"@businesswebsite",
  businessemail:"@businessemail",
  businessdescription:"@businessdescription",
  Latitude:"@Latitude",
  Longitude:"@Longitude",
  "activity[]":"@activity",
  contactname:"@contactname"

        

},{ 'update': { method:'PUT' } } );

alert($scope.activities);

var reserve = resource.save(

{
        
  businessname:$scope.firm,
  businessaddress:$scope.address,
  businessphone:$scope.phone,
  businesswebsite:$scope.website,
  businessemail:$scope.email,
  businessdescription:$scope.description,
  Latitude:$scope.latitude,
  Longitude:$scope.longitude,
  "activity[]":$scope.activities,
  contactname:$scope.name
         
         


}, function() {


if(reserve.ERROR){ alert(reserve.ERROR); } else {   



                      alert('Thank you for your inquiry. Message has been sent. We will contact you shortly.');


}
  


  });



}



});

</script>



</body>
</html>